<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로필 사진</title>
    <link rel="stylesheet" href="css/styles.css"> <!-- 외부 CSS 연결 -->
    <style>
        /* width: 180px;
        height: 186px;
        top: 2111px;
        left: 1878px;
        padding: 46.5px 26.58px 20.31px 26.59px;
        gap: 0px;
        border-radius: 100px 0px 0px 0px;
        opacity: 0px; */
    </style>
</head>
<body>
    <div class="container">
        <img src="images/logo.png" class="logo">
        <div class="title">
            마지막으로 (OO)님의<br>
            매력적인 사진 부탁드릴게요!
        </div>
    </div>
</body>
</html>