#banner {
    width: 599px;
    height: 260px;
    margin-top: -10px;
    margin-left: -4px;

}

#storeName {
    margin-top: 2px;
    margin-left: 8px;
}

.divWidth {
    width: 599px;
}

#location {
    margin-top: -17px;
    margin-left: 8px;
    color: darkgray;
}

#starAndReview {
    margin-top: -14px;
    margin-left: 6px;
    display: flex;
}

.stars {
    font-size: 1.3em;
    color: #ccc;
}

.star.filled {
    color: gold;
}

#explainText {
    width: 623px;
    word-wrap: break-word;
    white-space: normal;
    margin-top: -21px;
}

#callAndReservation {
    display: flex;
    margin-top: -19px;
    gap: 115px;
    font-size: 19px;
    margin-left: 37px;
    margin-bottom: -20px;
}



hr {
    width: 630px;
}

.date-container {
    display: flex;
    gap: 15px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.date-item {
    text-align: center;
    color: #666;
    padding: 8px 12px;
    border-radius: 8px;
    font-weight: bold;
    margin-right: 32px;
    height: 50px;
    width: 56px;
    cursor: pointer;
    font-size: 19px;
}

.date-item.today {
    background-color: #FFC107;
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    font-weight: bold;
}


.icon2 {
    cursor: pointer;
}

#reservationTime, #tableNumber {
    display: flex;
    margin-top: 16px;
    margin-left: -3px;
    transform: translateX(0%);
}
#tableNumber{
    display: none;
}


.time, .table {
    display: flex;
    border: 1px solid black;
    width: 126px;
    height: 78px;
    background-color: #f7f7f7;
    margin-right: 9px;
    margin-left: 15px;
    cursor: pointer;
}

#timeContainer, #tableContainer{
    display: flex;
}

.banner {
    width: 599px;
    height: 260px;
}

.slider-container {
    position: relative;
    width: 100%;
    max-width: 630px;
    overflow: hidden;
    margin-top: 73px;
    margin-left: 19px;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}


#dateBtn{
    text-align: center;
    background-color: white;
    border: 1px solid black;
    width: 620px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
#footer-button{
    position: fixed;
    bottom: 0;
    width: 630px;
    height: 70px;
    background-color: white;
    z-index: 1000;
}

.menus_detail{
    cursor: pointer;
    color: gray;
}