#banner {
    border: 1px solid black;
    width: 599px;
    height: 260px;
    margin-top: -10px;
    margin-left: -4px;

}

#storeName {
    margin-top: 2px;
    margin-left: 8px;
}

.divWidth {
    width: 599px;
}

#location {
    margin-top: -17px;
    margin-left: 8px;
    color: darkgray;
}

#starAndReview {
    margin-top: -14px;
    margin-left: 6px;
    display: flex;
}

.stars {
    font-size: 1.3em;
    color: #ccc;
}

.star.filled {
    color: gold;
}

#explainText {
    width: 623px;
    word-wrap: break-word;
    white-space: normal;
    margin-top: -21px;
}

#callAndReservation {
    display: flex;
    margin-top: -5px;
    /* 요소 간 여백 조정 */
    font-size: 25px;
    font-weight: bold;
}

#middle {
    overflow-y: auto;
    /* 세로 스크롤 활성화 */
    overflow-x: hidden;
    flex-grow: 1;
    /* middle div가 가능한 공간을 모두 차지하게 설정 */
    padding: 10px;
    /* 여백 추가 */
    height: 706px;
    width: 637px;
}

hr {
    width: 610px;
}

.date-container {
    display: flex;
    gap: 15px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.date-item {
    text-align: center;
    color: #666;
    padding: 8px 12px;
    border-radius: 8px;
    font-weight: bold;
    margin-right: 32px;
    height: 50px;
    width: 56px;
    cursor: pointer;
    font-size: 19px;
}

.date-item.today {
    background-color: #FFC107;
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    font-weight: bold;
}

#header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 95px;
    background-color: white;
    z-index: 1000;
}

.icon2 {
    cursor: pointer;
}

#reservationTime {
    display: flex;
    margin-top: 16px;
    margin-left: -3px;
    transform: translateX(0%);
}

.time {
    display: flex;
    border: 1px solid black;
    width: 126px;
    height: 78px;
    background-color: #f7f7f7;
    margin-right: 9px;
    margin-left: 15px;
}
.times{

}
#timeContainer{
    display: flex;
}

.banner {
    width: 599px;
    height: 260px;
}

.slider-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    margin: auto;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}


#dateBtn{
    text-align: center;
    background-color: white;
    border: 1px solid black;
    width: 620px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}