<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주소 설정</title>
    <link rel="stylesheet" href="/css/user-main.css">
    <style>
        #go_back {
            font-size: 35px;
            border: none;
            background-color: white;
            font-weight: bold;
            cursor: pointer;
        }

        h3 {
            font-size: 30px;
            position: relative;
            top: -72px;
            left: 253px;
        }

        #middle {
            position: absolute;
            top: 91px;

        }

        .result-item {
            /* 밑으로 10px 간격 */
            cursor: pointer;
        }

        .no-address {
            color: red;

        }

        hr {
            position: absolute;
        }

        #user_address {
            cursor: pointer;
        }

        .address_container {
            margin-bottom: 23px;
            border: 1px solid black;
            border-radius: 0.3em;
        }

        p {
            margin: 0px;
        }
        .address_name{
            font-size: 19px;
        }
    </style>
</head>

<body>
    <div class="container">

        <div id="header"></div>
        <div id="middle">
            <button id="go_back">&lt;</button>
            <h3>주소 검색</h3>
            <div id="search" style="position: relative;
            width: 615px;
        top: -93px;
        ">
                <input type="text" id="addressInput" class="input" style="position: relative;">
                <button type="button" id="searchButton" style="position: relative;
                left: 560px;
                top: -38px;
                border: none;
                background-color: white;
                font-weight: bold;
                cursor: pointer;
                font-size: 19px;
                ">검색</button>
            </div>
            <div style="overflow-y: auto;
            overflow-x: hidden;height: 483px;">
                <div id="searchResults" style="position: absolute; top: 106px; border: 2px solid black;width: 611px;
                border-radius: 0.4em;"></div>
                <hr>
                <div id="user_address" th:each="address , stat : ${addresses}" class="user_addr">
                    <form action="/user/map/change-active" method="post" th:id="'form_' + ${stat.index}">
                        <div th:id="'submitDiv_' + ${stat.index}" th:onclick="'submitForm(' + ${stat.index} + ')'"
                            class="address_container">
                            <p th:text="${address.name}" th:id="'name' + ${stat.index}" class="address_name"></p>&ensp;&ensp;
                            <p th:id="'active' + ${stat.index}" style="display: none;
                            top: -2px;
                            position: relative;
                            width: 121px;
                            background-color: lightskyblue;
                            font-weight: bold;
                            color: darkorange;">현재
                                설정된 주소</p>
                            <input type="hidden" th:value="${address.isActive}" th:id="'isActive' + ${stat.index}">
                            <input type="hidden" th:value="${address.addressId}" name="addressId">
                            <input type="hidden" th:value="${address.lat}" name="lat">
                            <input type="hidden" th:value="${address.lng}" name="lng">
                            <input type="hidden" th:value="${address.name}" name="name">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="footer"></div>

    </div>

    <script src="/js/user-nav.js"></script>
    <script src="/js/map.js"></script>
    <script>

        function submitForm(index) {
            document.getElementById("form_" + index).submit();
        }
        const addresses = document.getElementsByClassName("user_addr");
        function isActive(addresses) {
            for (let i = 0; i < addresses.length; i++) {
                if (document.getElementById("isActive" + i).value === "true") {
                    document.getElementById("name" + i).style.fontWeight = "bold";
                    document.getElementById("active" + i).style.display = 'block';
                    break;
                }
            }
        }
        document.addEventListener("DOMContentLoaded", function () {
            console.log(document.getElementById("isActive0").value);
            isActive(addresses);
        });


        // 검색 결과 가져오기
        document.addEventListener("DOMContentLoaded", function () {
            const searchButton = document.getElementById("searchButton");
            searchButton.addEventListener("click", function () {
                const address = document.getElementById("addressInput").value;
                const encodedAddress = encodeURIComponent(address);  // 인코딩된 주소

                console.log("인코딩된 주소:", encodedAddress);  // 인코딩된 주소 로그 출력


                fetch(`/geocode?address=${encodedAddress}`)
                    .then(response => response.json())
                    .then(data => {
                        const resultsDiv = document.getElementById("searchResults");
                        resultsDiv.innerHTML = '';  // 기존 검색 결과 초기화
                        if (data.length === 0) {
                            // 검색 결과가 없을 때 메시지 추가
                            const resultElement = document.createElement("div");
                            resultElement.classList.add("no-address");
                            resultElement.textContent = "해당 주소가 존재하지 않습니다. 자세히 입력해주세요.";
                            resultsDiv.appendChild(resultElement);
                            return;
                        }
                        data.forEach((result, index) => {
                            const resultElement = document.createElement("div");
                            resultElement.classList.add("result-item");
                            resultElement.textContent = result.roadAddress;

                            resultElement.addEventListener("click", function () {
                                const latitude = result.latitude;
                                const longitude = result.longitude;
                                const name = result.roadAddress;

                                // 좌표값을 데이터베이스에 저장하는 API 호출
                                saveCoordinatesToDB(latitude, longitude, name);
                            });

                            resultsDiv.appendChild(resultElement);
                        });
                    })
                    .catch(error => console.error("주소 검색 중 오류:", error));
            });
        });



        // 데이터베이스에 새 주소 저장
        function saveCoordinatesToDB(lat, lng, name) {
            fetch('/user/save-coordinates', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ latitude: lat, longitude: lng, name: name })
            })
                .then(response => response.json())
                .then(data => console.log("좌표값이 데이터베이스에 저장되었습니다:", data),
                    location.href = "/user/update-map");
        }

    </script>

</body>

</html>