<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이메일로 가입하기</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- 외부 CSS 연결 -->

</head>

<body>
    <form action="/user/next-join" method="post">
        <div class="container">
            <img src="/images/logo.png" class="logo">
            <div class="title">이메일로 가입해주세요</div>
            <div class="subtitle">신뢰할 수 있는 커뮤니티를 위해 필요해요!</div>
            <div class="input-group">
                <input type="text" id="email" name="email" class="input" placeholder="example@domain.com">
                <div id="emailError" class="error-message">올바른 이메일을 입력하세요.</div> 
                <button type="button" id="sendBtn" class="button-request" disabled>인증 요청</button>
                <input type="text" id="code" class="input" name="code" placeholder="인증번호 입력" style="display:none;">
                <a href="#" id="resendLink" style="display:none;">재전송</a>
                <div id="verifyCodeError" class="error-message">인증번호가 올바르지 않습니다.</div>
            </div>
        </div>
        <button type="submit" class="button-next" id="verifyCodeBtn" disabled>확인</button>
    </form>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        const emailInput = document.getElementById('email');
        const resendLink = document.getElementById('resendLink');
        const sendBtn = document.getElementById('sendBtn');
        const code = document.getElementById('code');
        const verifyCodeBtn = document.getElementById('verifyCodeBtn');

        const emailError = document.getElementById('emailError');
        const verifyCodeError = document.getElementById('verifyCodeError');

        let authCode = "";


        // 이메일 유효성 검사
        emailInput.addEventListener('input', () => {
            code.style.display = 'none';
            sendBtn.disabled = true;
            resendLink.style.display = 'none';
            sendBtn.style.display = 'block';
            verifyCodeError.style.display = 'none';
            const emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
            if (!emailPattern.test(emailInput.value)) {
                emailError.style.display = 'block';
                emailError.className = 'error-message';
                emailError.textContent = "올바른 이메일을 입력하세요.";
                emailError.style.display = 'block';
            } else {
                const username = emailInput.value;

                // 중복 체크
                $.ajax({
                    url: '/user/isExist-username',
                    type: 'POST',
                    data: { username: username },
                    success: function (response) {
                        if (response.exist) {
                            emailError.textContent = "이미 사용 중인 이메일입니다.";
                            emailError.className = 'error-message';
                            emailError.style.display = 'block';
                        } else {
                            emailError.textContent = "사용 가능한 이메일입니다.";
                            emailError.className = 'success-message';
                            emailError.style.display = 'block';
                            sendBtn.disabled = false;

                        }
                    },
                    error: function () {
                        emailError.textContent = "서버 오류가 발생했습니다.";
                        emailError.className = 'error-message';
                        emailError.style.display = 'block';
                    }
                });
            }
        });
        // 이메일에 인증 코드 보내기
        function sendCode() {
            emailError.style.display = 'none';
            verifyCodeError.style.display = 'none';
            $.ajax({
                url: '/send-email',
                type: 'POST',
                success: function (response) {
                    authCode = response;
                    code.style.display = 'block';
                    sendBtn.style.display = 'none';
                    resendLink.style.display = 'block';
                    verifyCodeBtn.disabled = false;
                },
                error: function () {
                    return;
                }
            });
        }
        sendBtn.addEventListener('click', sendCode);
        resendLink.addEventListener('click', sendCode);

        // 코드 인증하기
        verifyCodeBtn.addEventListener('click', function (event) {
            event.preventDefault();
            let inputCode = code.value;
            $.ajax({
                url: '/check-code',
                type: 'POST',
                data: {
                    authCode: authCode,
                    inputCode: inputCode
                },
                success: function (response) {
                    if (response.isValidCode === true) {
                        document.querySelector('form').submit();
                    }

                    else {
                        verifyCodeError.textContent = "잘못된 인증번호";
                        verifyCodeError.className = 'error-message';
                        verifyCodeError.style.display = 'block';
                        confirmCodeBtn.disabled = false;
                    }

                },
                error: function () {
                    return;
                }
            });

        });

        // 코드 유효성
        code.addEventListener('input', function () {
            verifyCodeBtn.disabled = !code.value.length === 6;
        });



    </script>
</body>

</html>