<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MeetEat 회원가입</title>

    <link rel="stylesheet" href="/css/join.css">
    <style>
        #img {
            width: 555px;
            position: relative;
            top: -6px;
            height: 588px;
            opacity: 0.5;
        }

        .title2 {
            top: -132px;
            position: relative;
            z-index: 10;
            font-size: 23px;
            font-weight: bold;
        }

        .mi_1 {
            position: relative;
            top: -73px;
            width: 492px;
            margin: 0 auto;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="background-container">
            <img src="/images/register_page_background.jfif" alt="배경" class="register_page_background" id="img">
        </div>
        <div class="signup-container">
            <div class="title2">
                숨겨진 보석같은 식당을<br />
                세상에 알릴 기회!<br />
                쉽고 간편한 예약 관리로<br />
                고객 유치와 매출 증가를 경험해보세요!<br />

            </div>
            <div class="mi_1">
                <button class="button" onclick="window.location.href='/user/signup-choice'">회원가입</button>
                <button class="button">카카오톡 계정으로 계속</button>
                <div class="account-check">
                    <div>이미 계정이 있나요?</div>
                    <a href="#" class="login-link" onclick="window.location.href='/login'">로그인</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>