<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>임시 메인페이지</h1>
    <form action="/user-profile/interest/form" method="get">
        <button type="submit">프로필 설정</button>
    </form>
    <!-- <img th:src="@{'/images/user/' + ${image.imageName}}" alt="Uploaded Image"> -->
        <ul>
            <li th:each="image : ${images}">
                <img th:src="@{'/images/user/' + ${image.imageName}}" alt="User Image" />
            </li>
        </ul>

</body>
</html>