<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전화번호 인증</title>
    <link rel="stylesheet" href="css/styles.css"> <!-- 외부 CSS 연결 -->
</head>
<body>
    <div class="container">
        <img src="images/logo.png" class="logo">
        <div class="title">전화번호로 가입해주세요</div>
        <div class="subtitle">신뢰할 수 있는 커뮤니티를 위해 필요해요!</div>
        <div class="input-group">
            <input type="text" class="input" placeholder="010-1234-5678">
            <button class="button-request">인증요청</button>
        </div>
    </div>
    <button class="button-next" onclick="window.location.href='password.html'">다 음</button>
</body>
</html>