<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>

<body>
    <h1>Welcome to my Shop</h1>


    <label for="username">ID</label> <input id="username" type="text">
    <button id="btnCheck" type="button">중복확인</button> <br />
    <label for="password">Password</label> <input id="password" type="password"><br />
    <label for="displayname">Your Name</label> <input id="displayname" type="text"><br />
    <button id="join" type="button">Join</button>

    <script>
        

        (() => {
            const username = document.getElementById("username");
            const password = document.getElementById("password");
            const displayname = document.getElementById("displayname");

            let lastCheckUserName = '';
            // 1. join버튼 메시지 핸들러
            // 2. join 버튼 클릭시 각각의 데이터가 잘 입력했는지 확인
            // 2. 통신을 통해서 데이터를 서버로 전달
            // 검증 성공시 true, 실패시 false
            const verifyData = function () {
                const usernameValue = username.value;
                const passwordValue = password.value;
                const displaynameValue = displayname.value;
                //1. 아이디, 이름, 패스워드가 있어야 된다.!!!
                //2. 패스워드가 최소 4글자 이상 되어야한다.
                if (usernameValue === '') {
                    alert("아이디를 입력해주세요");
                    return false;
                } else if (passwordValue.length < 4) {
                    alert("비밀번호를 4자리 이상 입력해주세요");
                    return false;
                } else if (displaynameValue === '') {
                    alert("이름을 입력해주세요");
                    return false;
                } else if(usernameValue !== lastCheckUserName) {
                    alert('아이디 중복 확인을 다시 하세요');
                    return false;
                }
                return true;
            }

            const $join = document.querySelector("#join");
            $join.addEventListener('click', (event) => {


                if (verifyData()) {
                    const obj = {
                        username: username.value,
                        password: password.value,
                        displayname: displayname.value
                    }
                    fetch('/member/join', {
                        method: 'POST',
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify(obj)
                    })
                        .then((message) => { return message.text(); })
                        .then((message) => {
                            alert("회원가입 성공. 메인화면에서 로그인GO");
                            location.href = '/index';
                        })
                        ;
                }

            });
            // 아이디를 입력하고 중복확인을 하면 해당 데이터를 AJAX로 보내 중복 확인
            // join 버튼 클릭 시 중복학인했던 데이터와 현재 데이터가 같은지 확인
            document.querySelector('#btnCheck').addEventListener('click', (event) => {
                const checkUserName = username.value;
                const obj = { username: checkUserName }
                fetch('/member/checkId', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(obj)
                })
                    .then(response => response.text())
                    .then((message) => {
                        console.log(message);
                        if (message === 'id ok') {
                            alert('아이디 사용가능');
                            lastCheckUserName = checkUserName;
                        } else {
                            alert('중복된 아이디');
                            lastCheckUserName = '';
                        }
                    })
                    .catch((error) => {
                        alert('예기치 않은 오류가 발생했습니다.');
                    });
            });

        })();

    </script>
</body>

</html>