body, html {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    overflow: hidden; /* 스크롤을 숨깁니다 */
}
.container {
    position: fixed; /* 고정 위치 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 중앙으로 이동 */
    width: 480px; /* 전체 너비 */
    height: 100vh; /* 전체 높이 */
    padding-top: 300px;
    padding-bottom: 20px;
    overflow: hidden; /* 잘림 방지 */
    z-index: 1; /* 배경 이미지 아래에 배치 */
    text-align: center;
    box-shadow: 10px 0 20px rgba(0, 0, 0, 0.1), -10px 0 20px rgba(0, 0, 0, 0.1);
}
.logo {
    width: 150px; /* 원하는 너비로 설정 */
    height: auto; /* 비율 유지 */
    margin-bottom: 40px; /* 이미지 아래 여백 추가 */
}
.title {
    font-size: 29px;
    font-weight: bold;
    margin-bottom: 30px;
}
.subtitle {
    font-size: 16px;
    color: #272727;
    margin-bottom: 70px;
    font-weight: bolder;
}
.input-group {
    position: relative;
    margin-bottom: 50px;
    max-width: 455px;
    width: 100%; /* 전체 너비 사용 */
}
.input {
    width: 100%; /* 입력창을 버튼까지 늘리기 위해 전체 너비 사용 */
    padding: 15px;
    font-size: 16px;
    border: 2px solid #f39c12;
    border-radius: 5px;
    box-sizing: border-box; /* 패딩과 경계 포함하여 크기 계산 */
}
.button-next, .button-login {
    width: 100%;
    padding: 10px;
    background-color: #f39c12;
    color: black;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%);
    max-width: 455px;
    font-weight: bold;
}

.button-request {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0 20px;
    background-color: #f39c12;
    color: black;
    border: none;
    border-radius: 0 5px 5px 0;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
}
.button-request:hover {
    background-color: #e67e22;
}
.error-message {
    color: red;
    font-size: 14px;
    display: none;
    margin-top: 5px;
    position: absolute;
    left: 70px;
    width: 70%; /* 에러 메시지가 입력창 너비에 맞춰 표시되도록 설정 */
}

.success-message {
    color: green;
    font-size: 14px;
    display: none;
    margin-top: 5px;
    position: absolute;
    top: 100%; /* 입력창 바로 아래에 위치 */
    left: 0;
    width: 100%;
}
button:disabled {
    background-color: #ccc;
}
#resendLink {
    position: absolute; /* 위치를 절대값으로 설정 */
    left: 403px;
    top: 64px;
    font-weight: bold;

    font-size: 14px;
    color:black;
    cursor: pointer;
    text-decoration: none;
    margin-top: 5px;
}

