html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; /* 가로 스크롤 금지 */
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.container {
    width: 617px;
    overflow-x: hidden;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin: 40px auto;
    overflow-y: auto; /* 스크롤 가능하도록 설정 */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    position: sticky;
    top: 0;
    width: 100%; /* 컨테이너 너비에 맞춤 */
    height: 70px;
    background-color: white;
    z-index: 1000;
}

#footer {
    position: sticky;
    bottom: 0;
    width: 100%; /* 컨테이너 너비에 맞춤 */
    height: 50px;
    background-color: white;
    z-index: 1000;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.icon {
    cursor: pointer;
}
.logo {
    display: block; /* 블록 요소로 설정 */
    /* margin: 0 auto 40px;  위쪽 여백 제거 및 아래쪽 여백 추가 */
    width: 120px;
    margin-top: -20px;
    height: 60px;
}
.menu-icon {
    margin-left: 560px;
    margin-top: -39px;
    position: relative;
    top: -20px;
}
.input {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: left;
}
.button-next {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #e67e22;
    color: white; /* 확인 버튼의 색상 */
    background-color: #e67e22;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 70px; /* 인증 요청 버튼과 확인 버튼 사이의 여백 */
}
.button-next:hover {
    background-color: #e67e22;
}



.icon {
    font-size: 24px;
    color: black;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}




