
.container {
    width: 630px;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 800px;
}

header {
    position: fixed;
    top: 0;
    width: 630px;
    height: 70px;
    background-color: white;
    z-index: 1000;
}

#middle {
    flex: 1; /* 남은 공간을 middle이 차지 */
    overflow: hidden; /* middle 자체에 스크롤 방지 */
    margin-bottom: 70px;
    padding: 6px;
  }
#footer {
    position: relative; /* fixed 대신 relative를 사용 */
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 630px;
    height: 70px;
    background-color: white;
    z-index: 1000;
}
.icon {
    cursor: pointer;
}
.logo {
    display: block; /* 블록 요소로 설정 */
    /* margin: 0 auto 40px;  위쪽 여백 제거 및 아래쪽 여백 추가 */
    width: 120px;
    margin-top: -20px;
    height: 60px;
}
.menu-icon {
    margin-left: 560px;
    margin-top: -39px;
    position: relative;
    top: -20px;
}
.input {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: left;
    top: 86px;
}
.button-next {
    width: 100%;
    padding: 15px;
    font-size: 21px;
    font-weight: bold;
    border: 2px solid #e67e22;
    color: white; /* 확인 버튼의 색상 */
    background-color: #e67e22;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 8px;
}
.button-next:hover {
    background-color: #e67e22;
}



.icon {
    font-size: 24px;
    color: black;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#go_back {
    font-size: 35px;
    border: none;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
    top: 63px;
    left: -296px;
    position: relative;
    z-index: 10;
}
.headerText {
    text-align: center;
    margin-bottom: -10px;

}
.headerText h1{
    text-align: center;
}

.headerText hr {
    margin-top: -21px;
}
.intro{
    background-color: orange;
    color: white;
    text-align: center;
}



