<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- 외부 CSS 연결 -->
    <style>
        .title {
            margin-bottom: 50px;
        }

        .input-group {
            position: relative;
            margin-bottom: 50px;
            display: flex;
            flex-direction: column;
            /* 세로 방향으로 정렬 */
            gap: 10px;
            /* 입력 필드 사이 여백 추가 */
            align-items: center;
            margin: 0 auto;
        }

        .input {
            border-radius: 20px;
        }
    </style>
</head>

<body>
    <form action="/process-login" method="POST">
        <div class="container">
            <img src="/images/logo.png" class="logo">
            <div class="title">
                맛있는 음식을 예약하면<br>
                새로운 인연을 만날 기회도 생겨요!
            </div>
            <div class="input-group">
                <input type="text" name="username" class="input" placeholder="아이디">
                <input type="password" name="password" class="input" placeholder="비밀번호">
                <div id="error-message" style="display: none;"><p th:text="${errorMessage}" style="color: red;"></p></div>
                <button type="submit" class="button-next"> 로그인</button>
            </div>
            
        </div>
        <input type="hidden" th:value="${error}" id="error">
        
    </form>
    <script>
        const error = document.getElementById("error");
        function errorMessage(error){
            if(error.value === "true") {
                document.getElementById("error-message").style.display = 'block';
            }
        }
        errorMessage(error);
    </script>
</body>

</html>