<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 입력하기</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- 외부 CSS 연결 -->
    <style>
        .subtitle {
            margin-bottom: 40px;
        }

        .input-group {
            position: relative;
            margin-bottom: 50px;
            display: flex;
            flex-direction: column;
            /* 세로 방향으로 정렬 */
            gap: 10px;
            /* 입력 필드 사이 여백 추가 */
            align-items: center;
        }

        label {
            font-weight: bold;
            left: 0;
        }
    </style>
</head>

<body>
    <form action="/owner/join" method="post">
        <div class="container">
            <img src="/images/logo.png" class="logo">
            <div class="title">비밀번호를 입력해주세요</div>
            <div class="subtitle">너무 쉬운 건 쉽게 들킬 수 있어요!</div>
            <div class="input-group">
                <label for="email" style="margin-left: -401px;">이메일</label>
                <input type="email" name="email" class="input" th:value="${email}" readonly>
                <label for="phoneNumber" style="margin-left: -388px;">전화번호</label>
                <input type="text" id="phoneNumber" name="phoneNumber" class="input" maxlength="14"
                    placeholder="('-'하이픈 없이 입력)">
                <div id="phoneError" class="error-message" style="top: 174px">올바른 전화번호를 입력하세요.</div>
                <label for="password" style="margin-left: -388px;">비밀번호</label>
                <input type="password" id="password" name="password" class="input" placeholder="8자 이상 입력">
                <div id="passwordError" class="error-message" style="top: 267px;">비밀번호는 8자 이상이어야 합니다.</div>
                <label for="confirmPassword" style="margin-left: -351px;">비밀번호 확인</label>
                <input type="password" id="confirmPassword" name="confirmPassword" class="input" placeholder="8자 이상 입력">
                <div id="confirmPasswordError" class="error-message" style="top: 356px;">비밀번호가 일치하지 않습니다.</div>
            </div>
            <button type="submit" id="nextBtn" class="button-next" disabled>가입하기</button>
        </div>
        
    </form>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        const passwordInput = document.getElementById('password');
        const nameInput = document.getElementById('name');
        const confirmPasswordInput = document.getElementById('confirmPassword');
        const phoneInput = document.getElementById('phoneNumber');
        const nextBtn = document.getElementById('nextBtn');

        const passwordError = document.getElementById('passwordError');
        const nameError = document.getElementById('nameError');
        const confirmPasswordError = document.getElementById('confirmPasswordError');
        const phoneError = document.getElementById('phoneError');

        const phonePattern = /^01[016789]\d{7,8}$/;
        let vaildPhone = false;
        let vaildPassword = false
        let confirmPasswordOk = false;

        phoneInput.addEventListener('input', () => {
            let phoneNumber = phoneInput.value;
            vaildPhone = false;
            if (!phonePattern.test(phoneNumber)) {
                phoneError.textContent = "올바른 전화번호를 입력하세요.";
                phoneError.className = 'error-message';
                phoneError.style.display = 'block';
            } else {
                phoneError.style.display = 'none';
                $.ajax({
                    url: '/owner/isExist-phoneNumber',
                    type: 'POST',
                    data: { phoneNumber: phoneNumber },
                    success: function (response) {
                        if (response.exist) {
                            phoneError.textContent = "이미 사용 중인 전화번호입니다.";
                            phoneError.className = 'error-message';
                            phoneError.style.display = 'block';
                        } else {
                            phoneError.textContent = "사용 가능한 전화번호입니다.";
                            phoneError.className = 'success-message';
                            phoneError.style.display = 'block';
                            vaildPhone = true;
                        }
                        checkFormValidity();
                    },
                    error: function () {
                        phoneError.textContent = "서버 오류가 발생했습니다.";
                        phoneError.className = 'error-message';
                        phoneError.style.display = 'block';
                        checkFormValidity();
                    }
                });
            }
            checkFormValidity();
        });

        // 비밀번호 유효성 검사
        passwordInput.addEventListener('input', () => {
            vaildPassword = false;
            if (passwordInput.value.length < 8) {
                passwordError.className = 'error-message';
                passwordError.textContent = '비밀번호는 8자 이상이어야 합니다.'
                passwordError.style.display = 'block';
            } else {
                passwordError.className = 'success-message';
                passwordError.textContent = '유효한 비밀번호입니다.'
                passwordError.style.display = 'block';
                vaildPassword = true;
            }
            checkPasswordMatch();
            checkFormValidity();
        });

        // 비밀번호 일치 확인
        confirmPasswordInput.addEventListener('input', () => {
            checkPasswordMatch();
            checkFormValidity();
        });



        function checkPasswordMatch() {
            confirmPasswordOk = false;
            if (passwordInput.value !== confirmPasswordInput.value) {
                confirmPasswordError.className = 'error-message';
                confirmPasswordError.textContent = '비밀번호가 일치하지 않습니다.'
                confirmPasswordError.style.display = 'block';
            } else {
                confirmPasswordError.className = 'success-message';
                confirmPasswordError.textContent = '비밀번호가 일치합니다.'
                confirmPasswordError.style.display = 'block';
                confirmPasswordOk = true;
            }
            checkFormValidity();
        }

        // 폼 전체 유효성 검사
        function checkFormValidity() {
            const isFormValid =
                vaildPassword &&
                vaildPhone &&
                confirmPasswordOk;
            if (isFormValid) {
                nextBtn.disabled = false;
            } else nextBtn.disabled = true;
        }

    </script>
</body>

</html>